# Dépendances PHP
app/vendor

# Cache et logs
app/var/cache
app/var/log
app/tests
.editorconfig
app/.gitignore
app/phpunit*

# Fichiers sensibles
.env*



# Dumps SQL (si tu ne veux pas les envoyer dans l'image)
docker*


# Git
.git
.gitignore

# Autres fichiers inutiles en prod
tests
docs
